@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

*, ::before, ::after {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'outfit', sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    position: relative;
    width: 20rem;
    border-radius: 1.25rem;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 20px -4px hsla(219, 15%, 55%, 0.35);
}

.card img {
    max-width: 100%;
    max-height: auto;
    padding: 1px;
    border-radius: 0.625rem;
}

.card h1 {
    padding-block: 17px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 1.375rem;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-weight: 300;
    font-size: 0.9375rem;
    padding-inline: 14px;
    padding-bottom: 25px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    padding: 5px;
    font-size: 0.75rem;
    position: absolute;
    text-align: center;
    bottom: 0px;
}

a {
    text-decoration: none;
    color: hsl(219, 83%, 53%);
}

a:visited {
    color: hsl(219, 83%, 53%);
}