@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

*, ::before, ::after {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'outfit', sans-serif;
}

.content {
    width: auto;
    height: 100vh;
    position: relative;
}

.card {
    background-color: hsl(0, 0%, 100%);
    position: relative;
    width: 320px;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}

.card img {
    max-width: 100%;
    max-height: auto;
    padding: 1px;
    border-radius: 10px;
}

.card h1 {
    padding-block: 17px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-weight: 300;
    font-size: 16px;
    padding-inline: 14px;
    padding-bottom: 25px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    padding: 5px;
    width: 100vw;
    font-size: 13px;
    position: absolute;
    text-align: center;
    bottom: 0px;
}

a {
    text-decoration: none;
    color: hsl(219, 83%, 53%);
}

a:visited {
    color: hsl(219, 83%, 53%);
}
@media only screen and (max-width: 320px) {
    body {
      height: 100vh;  
    }
    .card {
      top: 275px
    }
}